*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* common styles */
.full-width{
    width: 100%;
    background-color: white;
}
.max-width{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 40px;
}
a{
    text-decoration: none;
}
hr{
    border: 1px solid #E5E7EB;
}
/* common styles end */

/* Navbar */
nav .navbar{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type:none;
}
nav ul li a{
    color: #575757;
    padding: 5px 12px;
    border-radius: 5px;
}
nav ul li a:hover{
    background-color: #e0e0e0;
}
nav .nav-btn{
    color: white;
    font-weight: bold;
    padding: 12px 42px;
    border-radius: 10px;
    background-color:#1D4ED8 ;
}
/* Navbar end*/

/* Hero */
.hero{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.hero .hero-content{
    color: white;
    text-align: center;
    padding: 136px 0px 80px;
}
.hero-content h1{
    font-size:80px;
    font-width: bold;
    padding-bottom: 16px;
}
.hero-content p{
    color: rgba(255, 255, 255, 0.9);
    font-size: 22px;
    width:830px ;
    margin: 0px auto;
    padding-bottom: 280px;
}
.hero-content a{
    color: white;
    font-weight: bold;
    padding: 22px 62px;
    border-radius: 10px;
    background-color:#1D4ED8 ;
}
/* Hero end */

/* Speakers */
.speakers{
    padding: 80px 0px 140px;
}
.speakers h2{
    color: #000102;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    padding-bottom:56px ;
}
.speakers-cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.speakers-card{
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #E5E7EB;
}
.speakers-card .speakers-details{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.speakers-card .speakers-details h5{
    color: #2563EB;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.speakers-card .speakers-details h4{
    font-width: 700;
    font-size: 20px;
}
.speakers-card .speakers-details p{
    color: #575757;
    font-size: 14px;
}
/* Speakers end */

/* Pricing */
.pricing-title{
    color:#0D1B2A ;
    font-size: 48px;
    font-width: 700;
    padding-bottom: 12px;
    text-align: center;
}
.pricing-description{
    color: #575757;
    text-align: center;
}
.pricing-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap:24px;
    padding:48px 80px 80px;
}
.pricing-card{
    padding: 32px;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.team-card{
    background-color: #F8F9FB;
}
.pricing-card h6{
    color: #888888;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.pricing-card h5{
    color: #0D1B2A;
    font-size:44px ;
    font-width: 700;
}
.pricing-card p{
    color: #888888;
    font-size: 13px;
}
.pricing-card ul{
    list-style-position: inside;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pricing-card li::marker{
    color: #2563EB;
}
.pricing-card li{
    color: #333333;
    font-size: 14px;
}
.pricing-card a{
    color: #2563EB;
    font-weight: 600;
    padding: 11px;
    border:1px solid #2563EB ;
    border-radius: 8px;
    text-align: center;
}
.pro-card{
    background-color: #0D1B2A;
    border: 1px solid #0D1B2A;
}
.pro-card h6{
    color: #93C5FD;
}
.pro-card h5{
    color: white;
}
.pro-card p{
    color: rgba(255, 255, 255, 0.5);
}
.pro-card li::marker{
    color: #60A5FA;
}
.pro-card li{
    color: rgba(255, 255, 255, 0.8);
}
.pro-card a{
    background-color: #2563EB;
    color:white ;
}
/* Pricing end */

/* Footer */
.footer{
    background-color: #0D1B2A;
    padding: 56px 0px;
    border: 1px solid black;
}
.footer .footer-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.footer-section .footer-links{
    display: flex;
    gap: 24px;
}
.footer-section .social-links{
    font-size: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 10px;
}
.footer-section .footer-links a{
    color: rgba(255, 255, 255, 0.4);
}
.horizontal-divider{
    width: 1px;
    height: 100px;
    background-color: #575757;
}
.copyright-text{
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}
/* Footer end */